<div class="bg-[#1a171e] w-80  px-10 text-[#767680]">
<div class="h-20 flex items-center">
  <div class="h-fit">
     <span class="text-white font-bold text-3xl  h-fit">Adze.</span>
    <span class="text-red-800 font-extrabold text-2xl ">DESIGN</span>
  </div>
</div>
<div class="flex flex-col gap-6 pt-4 pb-20  border-b-[0.25px] border-[#62626b]">
  <p class="text-[rgb(101,101,101)] text-base font-medium tracking-wider">News  Feed</p>
  <div class="flex gap-4 items-center">
    <img src="../../../assets/explore-solid-svgrepo-com.svg" alt="" class="h-6">
    <p class="text-white text-lg tracking-wider">Browse</p>
  </div>
  <div class="flex gap-4 items-center">
    <!-- <img src="../../../assets/explore-solid-svgrepo-com.svg" alt="" class="h-8"> -->
    <mat-icon>notifications</mat-icon>
    <p class="text-[#767680] text-lg tracking-wider">Watchlist</p>
  </div>
  <div class="flex gap-4 items-center">
    <!-- <img src="../../../assets/explore-solid-svgrepo-com.svg" alt="" class="h-8"> -->
    <mat-icon>favorite</mat-icon>
    <p class="text-[#767680] text-lg tracking-wider">Coming Soon</p>
  </div>
</div>
</div>
