
<div class="bg-[#000000]  ">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between flex items-center mb-4 sm:mb-0">
          <div class="h-20 flex items-center" routerLink="/home">
            <div class="w-12 mr-2">
              <img src="../../../assets/Mslogo.svg" alt="">
            </div>
            <div class="h-fit font-neue tracking-widest  flex items-center justify-center">
               <span class="text-white font-bold text-3xl  h-fit ">movie.</span>
              <span class="text-red-800 font-bold text-3xl  h-fit"><span class="text-4xl">S</span>py</span>
            </div>
          </div>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 Movie.Spy™. All Rights Reserved.</span>
    </div>
  </div>

