

  <div class="h-20 bg-[#0d0d0f] text-[#767680] flex items-center md:px-8 justify-between px-4 ">


    <div class=" text-sm flex md:gap-16">
      <div class="md:flex gap-2 hidden">

        <mat-icon class="text-white text-4xl flex items-center justify-center h-fit">chevron_left</mat-icon>
     <mat-icon class=" text-4xl flex items-center justify-center h-fit" >chevron_right</mat-icon>
    </div>
    <div class=" w-48 md:w-64 flex items-center h-10 rounded-full justify-center overflow-auto relative border-[1px] border-[#767680]">
      <input type="text" placeholder="Search" class="outline-none pl-12 h-full w-full  bg-transparent">
      <mat-icon class="inset-0 absolute h-full w-1/6 flex items-center justify-center">search</mat-icon>
    </div>

    </div>
    <span class="flex-1"></span>
    <div class="gap-3 flex">
      <mat-icon>notifications</mat-icon>
      <mat-icon>message</mat-icon>
      <mat-icon>person</mat-icon>
    </div>
  </div>
